:root {
 --dark-blue: #012D63;       
  --white: #FFFFFF;          
  --purple: #8E32C6;          
  --very-dark-blue: #021635;  
  --grey: #C7C7C7;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Roboto', sans-serif;
}
.container {
    width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
    border: 1px solid red;
}
.header {
  background-color: var(--dark-blue);
 
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  width: 100px;
  height: 60px;
}
.nav-links {
  list-style: none;
  display: flex;
  gap: 29px;
}
.nav-links a {
  color: var(--white);
  text-decoration: none;
  font-weight: bold;
}
.language {
  display: flex;
 
}
.lang-btn {
  background-color: transparent;
  color: var(--white);
  border: 1px solid var(--dark-blue);
  padding: 2px 1px;
}

.hero {
  background: url('./fotos.png/fon1.png') no-repeat center/cover;
  padding: 100px 0;
}

.hero-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.hero .logo {
  width: 160px;
  height: 120px;
}


.hero h2:nth-of-type(1) {
  font-family: 'PT Serif', serif;
  font-size: 86px;
  color: var(--white);
  margin-top: 10px;
}

.hero h1 {
  font-family: 'Playfair Display', serif;
  font-size: 144px;
  color: var(--white);
  line-height: 1.2;
  max-width: 640px;
}
.hero h2:nth-of-type(2) {
 font-family: 'Playfair Display', serif;
  font-size: 72px;
  color: var(--white);
  line-height: 1.2;
  max-width: 540px;
}

.hero p {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  color: var(--grey);
  max-width: 508px;
  line-height: 1.3;
}

.hero .btn {
  margin-top: 41px;
  padding: 20px 61px;
  background-color: var(--purple);
  border: none;
  border-radius: 10px;
  font-family: 'Roboto', sans-serif;
}

.hero .btn a {
color: var(--white);
text-decoration: none;
font-size: 24px;
}

.advantages-section {
  background: url(./fotos.png/фон2.png) no-repeat center/cover;
  padding: 105px 0;
}

.advantages-container {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  border: 3px solid var(--purple);
  border-radius: 0;
  padding: 40px 20px;
  list-style: none;
  position: relative;
  gap: 40px;
}

.adv-item {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  text-align: center;
  padding: 0 20px;
}

.adv-item p {
  font-family: 'Playfair Display', serif;
  font-size: 36px;
  color: var(--white);
  margin: 0 0 15px;
}

.advantages-container li:nth-child(1) {
  flex-direction: column-reverse;
}

.advantages-container li:nth-child(3) {
  flex-direction: column-reverse;
}

.adv-img {
  width: 240px;
  height: 240px;
  margin: 25px 0;
}

.adv-item:not(:last-child)::after {
  content: '';
  position: absolute;
  top: 25px;
  bottom: 25px;
  right: 0;
  width: 1px;
  background-color: var(--grey);
}
.reviews {
  position: relative; 
  background-image: url(./fotos.png/фон3.png);
  background-size: cover;
  background-position: left center;
  background-repeat: no-repeat;
  padding: 115px 0;
  width: 100%;
}

.corner {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 340px;  
  height: 380px; 
  background-image: url(/fotos.png/цветы1.png);
  background-size: contain;
  background-repeat: no-repeat;
  
}


.rewiews-container h2 {
  font-family: 'Playfair Display', serif;
  font-size: 48px;
  font-weight: normal;
  text-align: center;
  margin-bottom: 24px;
  color: var(--white);
}

.review-cards {
  display: flex;
  justify-content: space-between;
  gap: 93px;
  list-style: none;
}
.card:nth-child(1) {
  background-image: url(./fotos.png/Reviews1.png); 
}

.card:nth-child(2){
  background-image: url(./fotos.png/Reviews2.png);
}

.card:nth-child(3){
  background-image: url(./fotos.png/Reviews3.png);
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-size: cover;
  background-position: center;
  width: 255px;
  height: 330px;
  padding: 14px;
  border-radius: 10px;
  font-family: 'Roboto', sans-serif;
  position: relative;
}

.card-content {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.card-content p:first-of-type {
  color: var(--white);
  font-size: 24px;
}

.card-content .date {
  font-size: 14px;
  color: var(--grey);
  margin-bottom: 47px; 
}

.card-author {
  display: flex;
  align-items: center;
  gap: 5px;
}
.author-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.card-author img {
  width: 31px;
  height: 31px;
  border-radius: 50%;
}

.card-author .author {
  font-size: 14px;
  color: var(--white);
}

.card-author .since {
  font-size: 12px;
  color: var(--grey);
  line-height: auto ;
  display: block;
  margin-top: 1px;
}
